<html>

{% include ('includes/__head.html.twig') %}

{% block body %}
<body class="min-vh-100 d-flex flex-column">

{% include ('includes/body/__header.html.twig') %}

{% include ('includes/body/__flash.html.twig') %}

<main class="flex-grow-1">
    <div class="container-lg mt-3">
        <h1>Сайт: {{ siteParamsList.name }}</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-nowrap" data-test="url">
                <tbody>
                <tr>
                    <td>ID</td>
                    <td>{{ siteParamsList.id }}</td>
                </tr>
                <tr>
                    <td>Имя</td>
                    <td>{{ siteParamsList.name }}</td>
                </tr>
                <tr>
                    <td>Дата создания</td>
                    <td>{{ siteParamsList.created_at }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <h2 class="mt-5 mb-3">Проверки</h2>
        <form method="post" action="{{ url_for('check', {'id': siteParamsList.id}) }}">
            <input type="submit" class="btn btn-primary" value="Запустить проверку">
        </form>
        <table class="table table-bordered table-hover" data-test="checks">
            <tbody>
            <tr>
                <th>ID</th>
                <th>Код ответа</th>
                <th>h1</th>
                <th>title</th>
                <th>description</th>
                <th>Дата создания</th>
            </tr>

            {% if checks is not empty %}
            {% for key, item in checks %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.status_code }}</td>
                <td class="text-break">{{ item.h1 }}</td>
                <td class="text-break">{{ item.title }}</td>
                <td class="text-break">{{ item.description }}</td>
                <td>{{ item.created_at }}</td>
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</main>

{% include ('includes/body/__footer.html.twig') %}

</body>
{% endblock %}

</html>